<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">
            com.mysql.jdbc.Driver
        </property>
        <property name="hibernate.connection.password">{{senha do banco}}</property>
        <property name="hibernate.connection.url">
            jdbc:mysql://{{url do banco}}
        </property>
        <property name="hibernate.connection.username">{{user do banco}}</property>
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQL8Dialect
        </property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">false</property>
        <property name="hbm2ddl.auto">update</property>
        <!-- Classes que serão persistidas no tutorial -->
        <mapping class="br.edu.ifpr.paranavai.armarios.model.Armario" />
        <mapping class="br.edu.ifpr.paranavai.armarios.model.Bibliotecario" />
        <!-- Classes que serão persistidas em sala e/ou trabalho -->
        <!--
        <mapping class="br.edu.ifpr.paranavai.armarios.modelo.Bibliotecario" />
        <mapping class="br.edu.ifpr.paranavai.armarios.modelo.Estudante" />
        <mapping class="br.edu.ifpr.paranavai.armarios.modelo.Localizacao" />
        <mapping class="br.edu.ifpr.paranavai.armarios.modelo.Pessoa" />
        <mapping class="br.edu.ifpr.paranavai.armarios.modelo.Reserva" />
        -->
    </session-factory>
</hibernate-configuration>
